.switch-container {
  display: inline-block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  border-radius: 34px;
  padding: 0 5px;
}
.slider img {
  width: 25px;
  height: 25px;
  fill: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
