@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=League+Spartan:wght@100..900&display=swap");
:root {
  /*light theme*/
   --background-color: #ffffff;
   --secound-color: #1e2139;
  /*main*/
  --dark-purple: #7c5dfa;
  --dark-purple-hover: #9277ff;
  /*secoundary*/
  --light-blue: #dff3fa;
  --dark-blue: #888eb0;
  --normal-red: #ec5757;
  --normal-red-hover: #FF9797;
  --light-red: #9277ff;


  /*main*/
  --dark-black: #1e2139;
  --light-black: #252945;
  /*secoundary*/
  --dark-bluish-purple: #7e88c3;
  --dark-secondary-black: #0c0e16;
  --smokey-white: #f9f9fb;
  --dark-third-black: #141625;

  /*typeo*/
  --heading-L-size: 36px;
  --heading-M-size: 24px;
  --heading-S-size: 15px;

  --heading-L-line: 22px
  --heading-L-spacing: -0.75px;

  --heading-M-line: 24px;
  --heading-M-spacing: -0.25px;

  --heading-S-line: 18px;
  --heading-S-spacing: -0.25px;


  --body-text-width: 400;
  --body-text-size: 16px;

}
  /*dark theme*/
[data-theme="dark"] {
  --background-color: #252945;
  --secound-color: #f9f9fb;
  --smokey-white: #1e2139;

}
[data-theme="dark"] .heading-L,
[data-theme="dark"] .heading-M,
[data-theme="dark"] .heading-S,
[data-theme="dark"] .main-para {
  color: white;
}
[data-theme="dark"] .ant-modal .ant-modal-content{
  background-color: var(--light-black) !important;
}

*::after,*::before,*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "League Spartan", sans-serif;
}
.btn{
  min-width: 100px;
  min-height: 40px;
  border-radius: 7px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  font-size: var(--body-text-size);
  color: white;
  background-color: var(--dark-purple);
  transition: all 0.15s ease-in-out;
}

.btn.edit-btn{
  background-color: var(--dark-blue);
}
.btn.delete-btn{
  background-color: var(--normal-red);
}
.btn.delete-btn:hover{
  background-color: var(--normal-red-hover);
}
.btn.default-btn{
  background-color: var(--dark-black);
}
.btn.default-btn:hover{
  background-color: var(--light-black);
}
.btn.add-btn{
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 20px;
padding: 5px;
}
.add-btn .img{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  aspect-ratio: 1;
  border-radius: 50%;
}
.img img{
  width: 13px;
  height: 13px;
  aspect-ratio: 1;
}
.btn:hover{
  background-color: var(--dark-purple-hover);
}
.heading-L{
  font-size: var(--heading-L-size);
  font-weight: bold;
  line-height: var(--heading-L-line);
  letter-spacing: var(--heading-L-spacing);
}
.heading-M{
  font-size: var(--heading-M-size);
  font-weight: bold;
  line-height: var(--heading-M-line);
  letter-spacing: var(--heading-M-spacing);
}
.heading-S{
  font-size: var(--heading-S-size);
  font-weight: bold;
  line-height: var(--heading-S-line);
  letter-spacing: var(--heading-S-spacing);
}
.main-para{
  font-weight: var(--body-text-width);
  font-size: var(--body-text-size);
  word-spacing: -0.1rem;
  letter-spacing: 1px;
  color: black;
}
.l-large-text {
  font-size: var(--heading-M-size);
  color: var(--secound-color);
  text-transform: capitalize;
  font-weight: 400;
}
.secound-para{
  color: var(--dark-blue);
}
.center-1280{
  max-width: 1280px;
  margin: 0 auto;
}
.center-960{
  max-width: 960px;
  margin: 0 auto;
}

.main-container {
  width: 100%;
  min-height: 100vh;
}
.main-container-inner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
